<div class="content">
  <div class="modal-body">
    <h1>
      <i class="bi bi-exclamation-triangle px-1"></i>
      Are you sure to delete this user?</h1>

      <ng-container *ngIf="message !== ''">
        <div class="alert alert-success" role="alert">
          {{message}}
        </div>
      </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" data-bs-dismiss="modal" 
    ><i class="bi bi-x-lg pe-2"></i>No</button>
    <button type="button" class="btn btn-danger"  (click)="deleteUser()">
      <i class="bi bi-check-lg pe-2"></i>Yes
    </button>
  </div>
</div>