<div class="container mt-5">
  <div class="row pt-3">
    <div class="col-12">
      <h1 class="display-1">Phone Book</h1>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-success">
        <i class="bi bi-plus-lg"></i> Add Contact
      </button>
    </div>
    <div class="col-12 py-3 ">
      <div class="col-12 col-md-6 col-lg-2">
        <select class="form-select form-select-sm" aria-label="Small select example" (change)="onContactTypeSelect($event)">
          <option selected>Filter Contact Type</option>
          <option *ngFor="let contact of contacType" [value]="contact.id">{{ contact.name }}</option>
        </select>
      </div>
    </div>
  <div class="col-12">
    <table class="table table-hover table-bordered shadow-lg p-3 mb-5 rounded-3">
      <thead class="table-primary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Contact Type</th>
          <th scope="col">Comments</th>
          <th scope="col">Gender</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of phoneBook">
          <td>{{ entry.name }}</td>
          <td>{{ entry.phoneNumber }}</td>
          <td>{{ entry.contactType.name }}</td>
          <td>{{ entry.comments }}</td>
          <td>{{ entry.gender }}</td>
          <td>{{ entry.email }}</td>
          <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            <i class="bi bi-pencil-square"></i> Edit
          </button></td>
          <td><button type="button" class="btn btn-danger"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            <i class="bi bi-trash-fill"></i> Delete
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-modal-edit></app-modal-edit>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>